@import "tailwindcss";

:root {
  --background: #DCDACD;
  /* --background: #eae6d9; */
  --baralee-orange: #E58411;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-afacad: var(--font-afacad);
  --font-afacad-flux: var(--font-afacad-flux);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-afacad-flux);
}

.text-baralee-orange {
  color: var(--baralee-orange)
}